@use "../../styles/tokens" as *;
@use "../../styles/breakpoints" as mq;
@use "../../styles/typography" as t;

.btn {
  align-items: center;
  border-radius: $radius-lg;
  display: flex;
  justify-content: center;
  padding: $space-3 $space-8;
  text-decoration: none;
  text-wrap: nowrap;
  @include t.button;
  font-weight: 700;
}

.primary {
  background-color: $blue-500;
  border: 1px solid $color-neutral-50;
  color: $color-neutral-50;

  &:hover {
    background-color: $color-neutral-50;
    border-color: $blue-500;
    color: $blue-500;
    cursor: pointer;
  }
}

.secondary {
  background-color: $color-neutral-50;
  border: 1px solid $blue-500;
  color: $blue-500;

  &:hover {
    background-color: $blue-500;
    border: 1px solid $color-neutral-50;
    color: $color-neutral-50;
    cursor: pointer;
  }
}

.github {
  background-color: black;
  border: 2px solid black;
  box-shadow: 0 0 1px 0 $color-neutral-50;
  color: $color-neutral-50;
  &:hover {
    background-color: $color-neutral-50;
    color: black;
  }
}
