@use "./tokens" as *;
@use "./breakpoints" as mq;

@mixin header {
  color: $color-neutral-900;
  font-family: $font-heading;
  font-size: clamp($text-5xl, 2.4718rem + 2.2535vw, $text-7xl);
  font-weight: $font-bold;
  line-height: $leading-none;
  @include mq.lg {
  }
}

@mixin subheader {
  color: $color-neutral-900;
  font-family: $font-primary;
  font-size: clamp($text-xl, 0.8979rem + 1.5023vw, $text-4xl);
  font-weight: $font-medium;
}

@mixin heading {
  color: $color-neutral-900;
  font-family: $font-primary;
  font-size: clamp($text-xl, 0.8979rem + 1.5023vw, $text-4xl);
  font-weight: $font-bold;
}

@mixin body {
  color: $color-neutral-900;
  font-family: $font-primary;
  font-size: clamp($text-sm, 0.743rem + 0.5634vw, $text-xl);
  font-weight: $font-light;
}

@mixin button {
  font-family: $font-primary;
  font-size: $text-base;
  font-weight: $font-medium;
}

@mixin code {
  font-family: $font-code;
  font-size: $text-sm;
  font-weight: $font-light;
  line-height: $leading-snug;
}
