@use "../styles/tokens.scss";
@use "../styles/typography.scss";
@use "../styles/reset";
@use "../styles/utilities.scss";

html {
  scroll-behavior: smooth;
  width: 100vw;
  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  width: 100vw;
}
