@use "../styles/_tokens.scss";
@use "../styles/_typography.scss";
@use "../styles/reset";

html {
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
}
