@use "../../styles/tokens" as *;
@use "../../styles/breakpoints" as mq;
@use "../../styles/typography" as t;

.container {
  background-color: $color-neutral-100;
  display: grid;
  gap: $space-10;
  justify-items: center;
  min-height: 100vh;
  place-content: center;
  padding-block: $space-20;
  width: 100%;

  @include mq.lg {
    align-items: center;
    grid-template-columns: 40vw auto;
    position: sticky;
    top: 0;
    z-index: 2;
    @media (prefers-reduced-motion: reduce) {
      position: relative;
    }
  }
}

.img__container {
  aspect-ratio: 1/1;
  position: relative;
  width: 50%;

  @include mq.lg {
    width: 75%;
  }
}

.content {
  margin-inline: $space-10;
  text-align: left;
  text-wrap: balance;
}

.content__title {
  @include t.heading;
  font-family: $font-heading;
}

.content__body {
  margin-block: $space-4;
  max-width: 400px;
  @include t.body;
  @include mq.lg {
    max-width: 600px;
  }
}
