@use "../../styles/tokens" as *;
@use "../../styles/breakpoints" as mq;
@use "../../styles/typography" as t;

.container {
  align-content: center;
  background-color: $color-neutral-50;
  display: grid;
  height: 100vh;
  padding-inline: clamp($space-4, -2.8168rem + 16.285vw, $space-20);

  @include mq.lg {
    column-gap: $space-4;
    gap: $space-4;
    grid-template-rows: repeat(6, auto);
    position: sticky;
    top: 0;
    z-index: 4;
  }
}

.contact__heading {
  @include t.subheader;
  @include mq.lg {
    grid-area: 1/1/2/3;
  }
}

.contact__subheading {
  @include t.body;
  @include mq.lg {
    grid-area: 2/1/3/3;
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: $space-4;
  width: 100%;

  @include mq.md {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include mq.lg {
    display: contents;
  }
}

.contact__input {
  border: none;
  border-block-end: 3px solid $blue-500;
  border-radius: 5px;
  margin-block-start: $space-2;
  padding: $space-2;
  width: 100%;
  @include t.body;

  &:focus {
    outline-offset: 4px;
  }

  @include mq.lg {
    flex-grow: 1;
    max-height: fit-content;
  }
}

.contact__inputMessage {
  min-height: 10rem;
  @include mq.lg {
    grid-area: 3/2/8/3;
    min-height: 100%;
  }
}

.contact__button {
  background-color: $blue-500;
  border: 1px solid $color-neutral-50;
  border-radius: 5px;
  color: $color-neutral-50;
  padding: $space-4;
  text-transform: capitalize;

  &:hover {
    background: $color-neutral-50;
    border-color: $blue-500;
    color: $blue-500;
  }
  @include t.button;
  font-weight: $font-extrabold;
  @include mq.md {
    flex-basis: 100%;
  }
  @include mq.lg {
    align-self: end;
    grid-area: 5 / 1 / 6 / 2;
  }
}

.contact__popup {
  border-radius: 10px;
  bottom: 5rem;
  left: 50%;
  opacity: 0;
  padding: $space-2;
  position: fixed;
  pointer-events: none;
  text-align: center;
  transform: translate(-50%);
  @include t.body;
  transition: all 250ms ease-in-out;
}

.contact__popupShow {
  opacity: 1;
}

.contact__honeypot {
  display: none;
}

.link__container {
  display: flex;
  flex-wrap: wrap;
  gap: $space-4;
  margin-block: $space-10;
  @include mq.lg {
    display: contents;
    max-width: calc(50% - $space-4);
  }
}

.link {
  flex-grow: 1;
  text-transform: capitalize;
}

.error {
  border-color: $color-error;
  &::placeholder {
    color: $color-error;
  }
}
