@use "../../styles/tokens" as *;
@use "../../styles/breakpoints" as mq;
@use "../../styles/typography" as t;

.container {
  background-color: $color-neutral-50;
  display: grid;
  height: 100svh;
  place-content: center;
  width: 100vw;
}

.grid__container {
  display: grid;
  place-content: center;
  gap: $space-10;
  text-align: center;

  @include mq.lg {
    grid-template-columns: auto auto;
    align-items: center;
    text-align: left;
    max-width: 95vw;
    margin-inline: auto;
  }
}

.content__container {
  margin-inline: $space-4;
}

.content__heading {
  margin: 0;
  @include t.header;
}

.content__subheading {
  margin: $space-1 0;
  @include t.subheader;
}

.content__body {
  margin-block: $space-2 $space-4;
  @include t.body;
}

.btn__container {
  display: flex;
  justify-content: center;
  gap: $space-4;

  @include mq.lg {
    justify-content: flex-start;
  }
}
